@mixin capitalize {
  text-transform: uppercase;
}

@mixin space-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@mixin center-element {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin underline-animation($duration: 0.3s, $color: #000) {
  position: relative;
  overflow: hidden;

  &::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 1.5px;
    background-color: $color;
    transition: width $duration ease;
  }

  &:hover::after {
    width: 100%;
  }
}

@mixin infinite-flip-scale($duration, $scale) {
  animation: flip-scale $duration infinite;

  @keyframes flip-scale {
    0% {
      transform: scale(1);
    }

    25% {
      transform: scale(#{$scale}) rotateY(-180deg);
      animation-play-state: paused;
    }

    50% {
      transform: scale(#{$scale}) rotateY(-180deg);
      animation-play-state: running;
    }

    100% {
      transform: scale(1);
    }
  }
}

@mixin rotate-effect($duration, $angle) {
  transition: transform $duration;

  &:hover {
    transform: rotate($angle);
  }
}

@mixin transform-effect($duration, $background-color, $color) {
  transition: transform $duration;

  &:hover {
    background-color: $background-color;
    color: $color;
    transform: scale(1.05);
  }
}

@mixin mobile {
  @media (max-width: 768px) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: 481px) and (max-width: 768px) {
    @content;
  }
}

@mixin color-scheme($color) {
  $lightness: lightness($color);
  $text-color: $color-white;

  @if $lightness > 60 {
    $text-color: $color-black;
  } @else {
    $text-color: $color-white;
  }

  background-color: $color;
  color: $text-color;
}
