$primary-color: #39c2d7;
$color-white: #fff;
$color-black: #000;
$color-gray: #464547;
$color-gray-light: #ffffffb3;
$font-weight-bold: 700;
$font-weight-normal: 400;
$font-weight-light: 300;
$font-primary: 'Source Sans Pro', sans-serif;
$font-secondary: 'Oswald', sans-serif;
