@import 'kit/variables';
@import 'kit/mixins';

@include mobile {
  footer {
    height: auto;
    background-color: $color-gray;
    text-align: center;

    .footer__content {
      padding: 52px 18px;

      @include space-between;

      flex-direction: column;
      align-items: center;
      gap: 24px;

      .footer__details {
        @include space-between;

        flex-direction: column;
        align-items: center;
        gap: 24px;
      }
    }
  }
}
