@import 'kit/variables';
@import 'kit/mixins';

footer {
  height: 200px;
  background-color: $color-gray;

  .footer__content {
    padding: 32px 40px;
    color: $color-gray-light;

    span {
      color: $color-white;
    }

    a {
      color: $color-gray-light;
    }

    @include space-between;

    align-items: flex-end;

    .footer__details {
      width: 35%;

      @include space-between;

      align-items: flex-start;

      .footer__logo {
        gap: 16px;
        font-size: 18px;
        line-height: 16px;
        align-items: flex-start;

        @include capitalize;
        @include space-between;

        img {
          width: 24px;
          height: 24px;
        }
      }

      .footer__contact {
        display: flex;
        flex-direction: column;
        gap: 26px;
      }
    }
  }
}
