@import 'kit/variables';
@import 'kit/mixins';

@include mobile {
  nav {
    .header__menu {
      justify-content: unset;

      li {
        display: none;
      }
    }

    .header__menu.open {
      flex-direction: column;
      background-color: $primary-color;
      width: 100%;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;

      li {
        display: block;
      }

      li:nth-child(1) {
        margin-top: 100px;
      }

      li:nth-last-child(1) {
        margin-bottom: 100px;
      }
    }

    .burger-menu {
      z-index: 9999;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      width: 30px;
      height: 20px;
      top: 50px;
      right: 50px;
      cursor: pointer;

      .line {
        width: 100%;
        height: 2px;
        background-color: #fff;
        transition: transform 0.3s;
      }
    }

    .burger-menu.open {
      .line:nth-child(1) {
        transform: translateY(9px) rotate(44deg);
      }

      .line:nth-child(2) {
        opacity: 0;
      }

      .line:nth-child(3) {
        transform: translateY(-9px) rotate(-44deg);
      }
    }
  }

  .hero {
    p {
      width: 100% !important;
    }
  }
}
