@import 'kit/variables';
@import 'kit/mixins';

header {
  height: 822px;
  .hero__bg {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    position: absolute;
    z-index: -1;
  }

  nav {
    height: 50px;
    font-size: 14px;
    padding: 50px 0;
    line-height: 16px;

    @include space-between;
    @include capitalize;

    .header__logo {
      font-size: 20px;
      letter-spacing: 2px;
      color: $color-white;
    }

    .header__menu {
      gap: 32px;

      @include space-between;

      li {
        height: 20px;
        line-height: 16px;
        letter-spacing: 2px;

        @include underline-animation(0.3s, $color-white);

        a {
          color: $color-white;
        }
      }
    }
  }

  .hero {
    @include center-element;

    height: 68vh;
    flex-direction: column;
    text-align: center;

    .hero__logo {
      margin-bottom: 28px;

      @include infinite-flip-scale(3s, 1.5);
    }

    h1 {
      font-weight: $font-weight-bold;
      font-size: 48px;
      line-height: 64px;
    }

    p {
      font-size: 24px;
      line-height: 32px;
      color: $color-gray-light;
      width: 40%;
    }
  }
}
