/* Import mixins, variables, and functions */
@import 'kit/mixins';
@import 'kit/variables';
@import 'kit/functions';
@import 'kit/fonts';

/*  Import component SCSS files */
@import 'header';
@import 'header.mobile';
@import 'text-section';
@import 'text-section.mobile';
@import 'video-section';
@import 'video-section.mobile';
@import 'footer';
@import 'footer.mobile';

/*  Additional global styles */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: $font-primary;
  font-size: 16px;

  @include color-scheme(transparent);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font-secondary;
  font-weight: $font-weight-bold;
  margin-bottom: 1rem;

  @include color-scheme(transparent);
}

p {
  font-family: $font-primary;
}

a {
  text-decoration: none;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 40px;
}

button {
  all: unset;
  cursor: pointer;
  padding: 8px 16px;
  font-family: $font-secondary;
  font-size: 14px;
  letter-spacing: 2px;
  border-radius: 50px;

  @include color-scheme($primary-color);
  @include capitalize;
}

.hidden {
  visibility: hidden;
}

@include mobile {
  .container {
    padding: 0 20px;
  }
}