@import 'kit/variables';
@import 'kit/mixins';

@include mobile {
  .article {
    .article__content {
      @include space-between;

      flex-flow: column wrap;
      align-items: flex-start;
      gap: 24px;

      & p {
        width: auto;
      }
    }
  }
}
