@import 'kit/variables';
@import 'kit/mixins';

.article {
  color: $color-black;

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: $color-black;
  }

  .article__head {
    @include center-element;

    flex-direction: column;
    margin-top: 65px;
    margin-bottom: 45px;
    text-align: center;

    h1 {
      font-size: 48px;
      line-height: 64px;
      color: $color-gray;
      font-weight: $font-weight-bold;
    }

    span {
      color: #666;
      font-size: 24px;
      font-family: $font-primary;
    }
  }

  .article__content {
    @include space-between;

    align-items: flex-start;

    & p {
      width: 490px;
      color: #666;
      font-size: 16px;
      line-height: 22px;
    }
  }

  .read-more {
    margin-top: 42px;
    margin-bottom: 96px;

    @include center-element;
    @include rotate-effect(0.5s, 10deg);
  }
}
