@import 'kit/variables';
@import 'kit/mixins';

.learn-more {
  height: 750px;
  position: relative;

  .learn-more__bg {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    position: absolute;
  }

  .learn-more__container {
    @include center-element;

    gap: 50px;
    text-align: center;
    flex-direction: column;

    .learn-more__play {
      cursor: pointer;
      z-index: 1;
      height: 120px;
      width: 120px;
      border-radius: 50%;
      background-color: $primary-color;
      color: $color-white;
      font-size: 48px;

      @include center-element;
      @include transform-effect(0.5s, $color-white, $primary-color);
    }

    h1 {
      z-index: 1;
      font-family: $font-secondary;
      font-size: 48px;
      margin-top: 100px;
    }

    p {
      width: 350px;
      z-index: 1;
      font-size: 24px;
      font-weight: $font-weight-normal;
    }
  }
}
