footer {
  height: 200px;
  background-color: #464547; }
  footer .footer__content {
    padding: 32px 40px;
    color: #ffffffb3;
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-items: flex-end; }
    footer .footer__content span {
      color: #fff; }
    footer .footer__content a {
      color: #ffffffb3; }
    footer .footer__content .footer__details {
      width: 35%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      align-items: flex-start; }
      footer .footer__content .footer__details .footer__logo {
        gap: 16px;
        font-size: 18px;
        line-height: 16px;
        align-items: flex-start;
        text-transform: uppercase;
        display: flex;
        justify-content: space-between;
        align-items: center; }
        footer .footer__content .footer__details .footer__logo img {
          width: 24px;
          height: 24px; }
      footer .footer__content .footer__details .footer__contact {
        display: flex;
        flex-direction: column;
        gap: 26px; }
