@media (max-width: 768px) {
  footer {
    height: auto;
    background-color: #464547;
    text-align: center; }
    footer .footer__content {
      padding: 52px 18px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-direction: column;
      align-items: center;
      gap: 24px; }
      footer .footer__content .footer__details {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
        align-items: center;
        gap: 24px; } }
