header {
  height: 822px; }
  header .hero__bg {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    position: absolute;
    z-index: -1; }
  header nav {
    height: 50px;
    font-size: 14px;
    padding: 50px 0;
    line-height: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-transform: uppercase; }
    header nav .header__logo {
      font-size: 20px;
      letter-spacing: 2px;
      color: #fff; }
    header nav .header__menu {
      gap: 32px;
      display: flex;
      justify-content: space-between;
      align-items: center; }
      header nav .header__menu li {
        height: 20px;
        line-height: 16px;
        letter-spacing: 2px;
        position: relative;
        overflow: hidden; }
        header nav .header__menu li::after {
          content: '';
          position: absolute;
          bottom: 0;
          left: 0;
          width: 0;
          height: 1.5px;
          background-color: #fff;
          transition: width 0.3s ease; }
        header nav .header__menu li:hover::after {
          width: 100%; }
        header nav .header__menu li a {
          color: #fff; }
  header .hero {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 68vh;
    flex-direction: column;
    text-align: center; }
    header .hero .hero__logo {
      margin-bottom: 28px;
      animation: flip-scale 3s infinite; }

@keyframes flip-scale {
  0% {
    transform: scale(1); }
  25% {
    transform: scale(1.5) rotateY(-180deg);
    animation-play-state: paused; }
  50% {
    transform: scale(1.5) rotateY(-180deg);
    animation-play-state: running; }
  100% {
    transform: scale(1); } }
    header .hero h1 {
      font-weight: 700;
      font-size: 48px;
      line-height: 64px; }
    header .hero p {
      font-size: 24px;
      line-height: 32px;
      color: #ffffffb3;
      width: 40%; }
