@media (max-width: 768px) {
  nav .header__menu {
    justify-content: unset; }
    nav .header__menu li {
      display: none; }
  nav .header__menu.open {
    flex-direction: column;
    background-color: #39c2d7;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0; }
    nav .header__menu.open li {
      display: block; }
    nav .header__menu.open li:nth-child(1) {
      margin-top: 100px; }
    nav .header__menu.open li:nth-last-child(1) {
      margin-bottom: 100px; }
  nav .burger-menu {
    z-index: 9999;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 20px;
    top: 50px;
    right: 50px;
    cursor: pointer; }
    nav .burger-menu .line {
      width: 100%;
      height: 2px;
      background-color: #fff;
      transition: transform 0.3s; }
  nav .burger-menu.open .line:nth-child(1) {
    transform: translateY(9px) rotate(44deg); }
  nav .burger-menu.open .line:nth-child(2) {
    opacity: 0; }
  nav .burger-menu.open .line:nth-child(3) {
    transform: translateY(-9px) rotate(-44deg); }
  .hero p {
    width: 100% !important; } }
