/* Import mixins, variables, and functions */
@import 'https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap';
@import 'https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap';
/*  Import component SCSS files */
header {
  height: 822px; }
  header .hero__bg {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    position: absolute;
    z-index: -1; }
  header nav {
    height: 50px;
    font-size: 14px;
    padding: 50px 0;
    line-height: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-transform: uppercase; }
    header nav .header__logo {
      font-size: 20px;
      letter-spacing: 2px;
      color: #fff; }
    header nav .header__menu {
      gap: 32px;
      display: flex;
      justify-content: space-between;
      align-items: center; }
      header nav .header__menu li {
        height: 20px;
        line-height: 16px;
        letter-spacing: 2px;
        position: relative;
        overflow: hidden; }
        header nav .header__menu li::after {
          content: '';
          position: absolute;
          bottom: 0;
          left: 0;
          width: 0;
          height: 1.5px;
          background-color: #fff;
          transition: width 0.3s ease; }
        header nav .header__menu li:hover::after {
          width: 100%; }
        header nav .header__menu li a {
          color: #fff; }
  header .hero {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 68vh;
    flex-direction: column;
    text-align: center; }
    header .hero .hero__logo {
      margin-bottom: 28px;
      animation: flip-scale 3s infinite; }

@keyframes flip-scale {
  0% {
    transform: scale(1); }
  25% {
    transform: scale(1.5) rotateY(-180deg);
    animation-play-state: paused; }
  50% {
    transform: scale(1.5) rotateY(-180deg);
    animation-play-state: running; }
  100% {
    transform: scale(1); } }
    header .hero h1 {
      font-weight: 700;
      font-size: 48px;
      line-height: 64px; }
    header .hero p {
      font-size: 24px;
      line-height: 32px;
      color: #ffffffb3;
      width: 40%; }

@media (max-width: 768px) {
  nav .header__menu {
    justify-content: unset; }
    nav .header__menu li {
      display: none; }
  nav .header__menu.open {
    flex-direction: column;
    background-color: #39c2d7;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0; }
    nav .header__menu.open li {
      display: block; }
    nav .header__menu.open li:nth-child(1) {
      margin-top: 100px; }
    nav .header__menu.open li:nth-last-child(1) {
      margin-bottom: 100px; }
  nav .burger-menu {
    z-index: 9999;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 20px;
    top: 50px;
    right: 50px;
    cursor: pointer; }
    nav .burger-menu .line {
      width: 100%;
      height: 2px;
      background-color: #fff;
      transition: transform 0.3s; }
  nav .burger-menu.open .line:nth-child(1) {
    transform: translateY(9px) rotate(44deg); }
  nav .burger-menu.open .line:nth-child(2) {
    opacity: 0; }
  nav .burger-menu.open .line:nth-child(3) {
    transform: translateY(-9px) rotate(-44deg); }
  .hero p {
    width: 100% !important; } }

.article {
  color: #000; }
  .article h1,
  .article h2,
  .article h3,
  .article h4,
  .article h5,
  .article h6 {
    color: #000; }
  .article .article__head {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 65px;
    margin-bottom: 45px;
    text-align: center; }
    .article .article__head h1 {
      font-size: 48px;
      line-height: 64px;
      color: #464547;
      font-weight: 700; }
    .article .article__head span {
      color: #666;
      font-size: 24px;
      font-family: "Source Sans Pro", sans-serif; }
  .article .article__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-items: flex-start; }
    .article .article__content p {
      width: 490px;
      color: #666;
      font-size: 16px;
      line-height: 22px; }
  .article .read-more {
    margin-top: 42px;
    margin-bottom: 96px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 0.5s; }
    .article .read-more:hover {
      transform: rotate(10deg); }

@media (max-width: 768px) {
  .article .article__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-flow: column wrap;
    align-items: flex-start;
    gap: 24px; }
    .article .article__content p {
      width: auto; } }

.learn-more {
  height: 750px;
  position: relative; }
  .learn-more .learn-more__bg {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    position: absolute; }
  .learn-more .learn-more__container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    text-align: center;
    flex-direction: column; }
    .learn-more .learn-more__container .learn-more__play {
      cursor: pointer;
      z-index: 1;
      height: 120px;
      width: 120px;
      border-radius: 50%;
      background-color: #39c2d7;
      color: #fff;
      font-size: 48px;
      display: flex;
      justify-content: center;
      align-items: center;
      transition: transform 0.5s; }
      .learn-more .learn-more__container .learn-more__play:hover {
        background-color: #fff;
        color: #39c2d7;
        transform: scale(1.05); }
    .learn-more .learn-more__container h1 {
      z-index: 1;
      font-family: "Oswald", sans-serif;
      font-size: 48px;
      margin-top: 100px; }
    .learn-more .learn-more__container p {
      width: 350px;
      z-index: 1;
      font-size: 24px;
      font-weight: 400; }

footer {
  height: 200px;
  background-color: #464547; }
  footer .footer__content {
    padding: 32px 40px;
    color: #ffffffb3;
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-items: flex-end; }
    footer .footer__content span {
      color: #fff; }
    footer .footer__content a {
      color: #ffffffb3; }
    footer .footer__content .footer__details {
      width: 35%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      align-items: flex-start; }
      footer .footer__content .footer__details .footer__logo {
        gap: 16px;
        font-size: 18px;
        line-height: 16px;
        align-items: flex-start;
        text-transform: uppercase;
        display: flex;
        justify-content: space-between;
        align-items: center; }
        footer .footer__content .footer__details .footer__logo img {
          width: 24px;
          height: 24px; }
      footer .footer__content .footer__details .footer__contact {
        display: flex;
        flex-direction: column;
        gap: 26px; }

@media (max-width: 768px) {
  footer {
    height: auto;
    background-color: #464547;
    text-align: center; }
    footer .footer__content {
      padding: 52px 18px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-direction: column;
      align-items: center;
      gap: 24px; }
      footer .footer__content .footer__details {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
        align-items: center;
        gap: 24px; } }

/*  Additional global styles */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

body {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 16px;
  background-color: transparent;
  color: #fff; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Oswald", sans-serif;
  font-weight: 700;
  margin-bottom: 1rem;
  background-color: transparent;
  color: #fff; }

p {
  font-family: "Source Sans Pro", sans-serif; }

a {
  text-decoration: none; }

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 40px; }

button {
  all: unset;
  cursor: pointer;
  padding: 8px 16px;
  font-family: "Oswald", sans-serif;
  font-size: 14px;
  letter-spacing: 2px;
  border-radius: 50px;
  background-color: #39c2d7;
  color: #fff;
  text-transform: uppercase; }

.hidden {
  visibility: hidden; }

@media (max-width: 768px) {
  .container {
    padding: 0 20px; } }
