.article {
  color: #000; }
  .article h1,
  .article h2,
  .article h3,
  .article h4,
  .article h5,
  .article h6 {
    color: #000; }
  .article .article__head {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 65px;
    margin-bottom: 45px;
    text-align: center; }
    .article .article__head h1 {
      font-size: 48px;
      line-height: 64px;
      color: #464547;
      font-weight: 700; }
    .article .article__head span {
      color: #666;
      font-size: 24px;
      font-family: "Source Sans Pro", sans-serif; }
  .article .article__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-items: flex-start; }
    .article .article__content p {
      width: 490px;
      color: #666;
      font-size: 16px;
      line-height: 22px; }
  .article .read-more {
    margin-top: 42px;
    margin-bottom: 96px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 0.5s; }
    .article .read-more:hover {
      transform: rotate(10deg); }
