@media (max-width: 768px) {
  .article .article__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-flow: column wrap;
    align-items: flex-start;
    gap: 24px; }
    .article .article__content p {
      width: auto; } }
