.learn-more {
  height: 750px;
  position: relative; }
  .learn-more .learn-more__bg {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    position: absolute; }
  .learn-more .learn-more__container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    text-align: center;
    flex-direction: column; }
    .learn-more .learn-more__container .learn-more__play {
      cursor: pointer;
      z-index: 1;
      height: 120px;
      width: 120px;
      border-radius: 50%;
      background-color: #39c2d7;
      color: #fff;
      font-size: 48px;
      display: flex;
      justify-content: center;
      align-items: center;
      transition: transform 0.5s; }
      .learn-more .learn-more__container .learn-more__play:hover {
        background-color: #fff;
        color: #39c2d7;
        transform: scale(1.05); }
    .learn-more .learn-more__container h1 {
      z-index: 1;
      font-family: "Oswald", sans-serif;
      font-size: 48px;
      margin-top: 100px; }
    .learn-more .learn-more__container p {
      width: 350px;
      z-index: 1;
      font-size: 24px;
      font-weight: 400; }
